<div class="main background-tint">
    <div class="col-sm-2 col-lg-4"></div>
    <div class="col-sm-8 col-lg-4">
        <h1 class="brand-light">Log In</h1>
        <form name="loginForm" ng-submit="loginCtrl.login()">
            <div class="form-group">
                <div class="input-group">
                <div class="input-group-addon">
                <i class="fa fa-envelope-o"></i> 
                </div>
                <input class="form-control" id="email" name="email" type="email" placeholder="Email" ng-model="loginCtrl.user.email"/>
                </div>
            </div>

            <div class="form-group ">
                <div class="input-group">
                <div class="input-group-addon">
                <i class="fa fa-key"></i> 
                </div>
                <input class="form-control" id="password" name="password" type="password" placeholder="Password" ng-model="loginCtrl.user.password"/>
                </div>
            </div>

            <div class="row">
                <!-- <div class="checkbox">
                        <label><input type="checkbox" value="">Remember Me</label>
                </div> -->
                <button type="submit" class="btn btn-primary sign-in pull-right">Log In</button>
            </div>
        </form>
        <div ng-show="loginCtrl.message">{{ loginCtrl.message }}</div>
        <!-- <div class="row">
            <div class="forgot">
                <p>Forgot Password</p>
            </div>
            <div class="accsign"
                <p>No account? Sign Up!</p>
            </div>
        </div> -->
    </div>
</div>